---
import Header from '@/components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
// import TranslucidNavbar from '@/components/Navbar';

interface Props {
	title?: string;
	description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<!-- <TranslucidNavbar client:load /> -->
     <Header />
      <slot />
		<Footer />
	</body>
</html>